form{
  background-color: #222b5c;
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 30px auto;
  padding: 1em;
  border-radius:5px;
}

label {
  display: block;
  color: white;
  font-family: sans-serif;
}

input{
  min-height:2em;
  width:100%;
  margin-top:5px;
  border-radius:5px;
  padding:8px;
  border-color: thistle;
}

#description {
  display:block;
  width:100%;
  min-height:8em;
  margin-top:5px;
}

button{
  background-color:#37af65;
  color:white;
  display:block;
  min-height:3em;
  width: 100%;
  border-radius: 5px;
  border-color: #37af65;
}


.error-message{
    color: #e62727;
    font-family: sans-serif;
}